.navigationLink,
.navigationLinkActive {
  font-weight: 700;
}

.navigationLink:not(:last-child),
.navigationLinkActive:not(:last-child) {
  margin-right: 20px;
}

.navigationLinkActive {
  color: #66ff99;
  text-decoration: underline;
}

.navigationLink:hover {
  filter: brightness(0.7);
}
